@import '../../assets/global/globalStyle.less';
#asideBar {
	width: 100%;
	height: 100%;
	background: #545c64;
	.el-menu-item {
		a {
			display: inline-block;
			color: #fff;
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: relative;
			text-decoration: none;
		}
		&.is-active a {
			color: #ffd04b;
			&:focus a {
				color: #ffd04b;
			}
			&:hover a {
				color: #ffd04b;
			}
		}
		&:hover {
			background: #545c64;
		}		
	}
}